@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

/* DEFAULT CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
.defaultContainer {
  width: 1320px;
  margin: 0 auto;
}
.defaultTitle {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
/* NEW YEAR BANNER START*/
.newYearBanner {
  margin-top: 50px;
}
.newYearImage {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.newYearImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211, #07021100);
}
.newYearContent {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.newYearContent h3 {
  font-size: 32px;
  font-weight: 400;
}
.newYearContent h2 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  margin-top: 16px;
}
/* NEW YEAR BANNER END*/

/* DISCOUNT START */
.discountContainer {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 120px auto;
  justify-content: center;
  align-items: center;
}
.discountContainer h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.discountContainer h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-top: 48px;
}
.discountContainer h2 {
  font-family: "Inter", sans-serif;
  margin-bottom: 48px;
  margin-top: 16px;
}
/* DISCOUNT END  */

/* WELCOME START */
.welcomeContainer {
  width: 1320px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto 120px;
  position: relative;
  border-radius: 16px;
}
.welcomeContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #070211, #07021100);
}
.welcomeContent {
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  transform: translateY(-50%);
  margin-left: 120px;
  z-index: 9;
}
.welcomeImage2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9;
  margin-right: 140px;
}
.welcomeContent h1 {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7px;
}
.welcomeContent p {
  color: #ffffffcc;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.defaultBtn {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 32px;
  transition: 0.3s;
  border-radius: 8px;
  display: inline-block;
}
.welcomeContent a:hover {
  background: #f00;
}
.welcomeImage2 {
  max-width: 320px;
}
/* WELCOME END */

/* VENUE START  */
.venueContainer {
  width: 1320px;
  height: 480px;
  border-radius: 16px;
  margin: 0 auto 120px;
  background-image: linear-gradient(to bottom, #ff00001a, #ff000000);
  display: flex;
  align-items: center;
  justify-content: center;
}
.venueInnerContainer {
  text-align: center;
}
.venueContent {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 64px;
}
.venueContent span {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
}
.venueInnerContainer button a {
  background-color: #f00;
}
.venueInnerContainer button a:hover {
  background-color: #fe4d4d;
}
/* VENUE END  */

/* COMMING SOON START */
.commingSoonContainer {
  width: 1320px;
  height: 462px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftContent h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.leftContent h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 22px;
}
.defaultPara {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.rightContent h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.centerImageCircle {
  width: 463px;
  height: 463px;
  border-radius: 50%;
  border: 15px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerImageCircle img {
}
/* COMMING SOON END */

/* HOLYDAY START */
.holydayContainer {
  width: 1320px;
  height: 986px;
  margin: 120px auto;
  position: relative;
}
.holydayContent h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holydayContent {
  text-align: center;
  margin-bottom: 64px;
}
.holydayContent h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 28px;
}
.holydayContent h1 span {
  color: #f00;
}
.holydayBanner {
  position: relative;
  height: 660px;
  width: 1320px;
}
.leftImage {
  position: absolute;
  right: 0;
}
.group44Align {
  position: relative;
}
.group44Align::before {
  content: "";
  position: absolute;
  left: -50%;
  top: 0;
  background: url("../resources/Group\ 44.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}
.bottomFill {
  position: absolute;
  bottom: 0;
  height: 230px;
  width: 1320px;
  background-color: #f00;
  border-radius: 0 0 8px 8px;
}
.boxImage {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* HOLYDAY END */

/* PORTFOLIO START */
.portfolioContainer {
  width: 1320px;
  height: 1160px;
  margin: 0 auto 120px;
}
.portfolioContent h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolioContent h2 {
  margin-top: 16px;
  margin-bottom: 22px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row1 {
  margin-bottom: 24px;
  margin-top: 48px;
}
.portfolioImageMask {
  width: 424px;
  height: 450px;
  transition: 0.3s;
  position: relative;
}
.portfolioImageMask img {
  height: 100%;
  width: 100%;
}
.portfolioImageMask:hover {
  transform: scale(1.05);
}
.portfolioImageMask:hover img {
  filter: blur(3px);
}
.imageInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 300px;
  border-radius: 16px;
  background-color: #00000038;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}
.imageInner a {
  background-color: #f00;
  transition: 0.3s;
}
.imageInner a:hover {
  background-color: rgb(199, 0, 0);
}
.imageInner h2 {
  margin-bottom: 32px;
  color: #ffffffcc;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.portfolioImageMask:hover .imageInner {
  opacity: 1;
}
/* PORTFOLIO END */

/* SUBSCRIBE START */
.subscribeContainer {
  width: 1320px;
  height: 616px;
  margin: 0 auto 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #ff00000d;
}
.subscribeContainer h2 {
  margin-top: 40px;
  margin-bottom: 22px;
}
.subscribeInput {
  height: 72px;
  width: 648px;
  margin: 48px auto 0;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
}
.subscribeBtn {
  color: #fff;
  background-color: #f00;
  height: 100%;
  width: 30%;
  display: inline-block;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
}
.subscribeBtn:hover {
  background-color: rgb(254, 77, 77);
}
.subscribeInput input {
  width: 70%;
  outline: none;
  border: none;
  height: 100%;
  padding-left: 32px;
}
.subscribeInput input::placeholder {
  color: #07021162;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
/* SUBSCRIBE END */

/* FOOTER START */
.footer {
  height: 610px;
  background: #070211;
  color: #fff;
}
.footerConatiner {
}
.footerText {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.line {
  width: 100%;
  background: #ffffff26;
  height: 1px;
}
.footerRow1 {
  height: 250px;
  width: 100%;
  position: relative;
}
.footerRow1Left {
  position: absolute;
  left: 0;
  top: 50%;
}
.footerRow1Right {
  position: absolute;
  right: 10%;
  top: 50%;
}
.footerRow1 span {
  display: inline-block;
  transform: translateY(5px);
  margin-right: 10px;
}
.footerRow2 {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footerRow2 img {
  transition: 0.3s;
  opacity: 0.7;
}
.footerRow2 img:hover {
  opacity: 1;
}
.footerRow3 {
  height: 200px;
  width: 100%;
  position: relative;
}
.footerRow3Left {
  position: absolute;
  left: 0;
  bottom: 50%;
}
.footerRow3Right {
  position: absolute;
  right: 0;
  bottom: 50%;
}
/* FOOTER END */
